/* STRUCTURE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 100px);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#nav-lg {
  width: 250px;
  height: 100%;
  min-height: 400px;
  background-color: #040404;
  overflow: hidden;
}

#nav-xs {
  display: none;
}

#main-content {
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #282828;
}

/*/STRUCTURE */

/* START MAIN */

/* nav-lg */

#nav-lg .nav-lg-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: hidden;
}

#nav-lg .nav-lg-top #logo {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}

#nav-lg .nav-lg-top #logo a {
  display: inline-block;
  width: 70%;
}

#nav-lg .nav-lg-top #nav-desktop {
  width: 100%;
}

#nav-lg .nav-lg-top #nav-desktop ul {
  list-style: none;
  margin-top: 30px;
}

#nav-lg .nav-lg-top #nav-desktop li:not([class="nav_active"]) {
  padding-left: 20px;
}

#nav-lg .nav-lg-top #nav-desktop a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #7a7a7a;
  font-size: 14px;
}

#nav-lg .nav-lg-top #nav-desktop a:hover,
#nav-lg .nav-lg-top #nav-desktop a:hover i {
  color: #ffffff;
  text-decoration: none;
}

#nav-lg .nav-lg-top #nav-desktop i {
  color: #b3b3b3;
  font-size: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.nav_active {
  border-left: 5px solid #1DB954;
  padding-left: 15px;
}

#nav-lg .nav-lg-top #playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-top: 30px;
  padding: 0 20px;
  overflow: hidden;
}

#nav-lg .nav-lg-top #playlist h4 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-lg .nav-lg-top #playlist .new_playlist {
  display: inline-block;
  color: #7a7a7a;
  font-size: 16px;
}

#nav-lg .nav-lg-top #playlist .new_playlist:hover,
#nav-lg .nav-lg-top #playlist .new_playlist:hover i {
  color: #ffffff;
  text-decoration: none;
}

#nav-lg .nav-lg-top #playlist .new_playlist i {
  color: #b3b3b3;
  font-size: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

#nav-lg .nav-lg-top #playlist .playlist_scroll {
  height: 75%;
  overflow-y: auto;
}

#nav-lg .nav-lg-top #playlist .playlist_scroll ul {
  list-style: none;
  margin-top: 10px;
}

#nav-lg .nav-lg-top #playlist .playlist_scroll ul a {
  display: inline-block;
  margin-top: 10px;
  color: #7a7a7a;
  font-size: 14px;
}

#nav-lg .nav-lg-top #playlist .playlist_scroll ul a:hover {
  color: #ffffff;
  text-decoration: none;
}

#nav-lg .nav-lg-bottom {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: #040404;
}

#nav-lg .nav-lg-bottom #user {
  width: 100%;
}

#nav-lg .nav-lg-bottom #user .app {
  padding-bottom: 5px;
  border-bottom: 1px solid #7a7a7a;
}

#nav-lg .nav-lg-bottom #user .app a {
  display: inline-block;
  color: #7a7a7a;
  font-size: 14px;
}

#nav-lg .nav-lg-bottom #user .app i {
  margin-right: 5px;
}

#nav-lg .nav-lg-bottom #user .app a:hover {
  color: #ffffff;
  text-decoration: none;
}

#nav-lg .nav-lg-bottom #user .current_user {
  padding-top: 10px;
}

#nav-lg .nav-lg-bottom #user .current_user a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}
#nav-lg .nav-lg-bottom #user .current_user a:hover {
  text-decoration: none;
}

#nav-lg .nav-lg-bottom #user .current_user i {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
/* /nav-lg */

/* nav-xs */
#nav-xs {
  flex-wrap: wrap;
  align-content: space-between;
  width: 40px;
  background-color: #040404;
}

#nav-xs .nav-xs-top #logo-xs img {
  margin-top: 10px;
  padding: 0 5px;
  width: 100%;
  text-align: center;
}

#nav-xs .nav-xs-top ul {
  list-style: none;
  margin-top: 10px;
}

#nav-xs .nav-xs-top a {
  display: inline-block;
  width: 100%;
  padding: 5px 5px;
  text-align: center;
  color: #7a7a7a;
  font-weight: 700;
}

#nav-xs .nav-xs-top a:hover,
#nav-xs .nav-xs-top a:hover i {
  color: #ffffff;
  text-decoration: none;
}

#nav-xs .nav-xs-top i {
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

#nav-xs .nav-xs-bottom {
  padding: 10px 0;
}

#nav-xs .nav-xs-bottom a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #7a7a7a;
  font-weight: 700;
}

#nav-xs .nav-xs-bottom a:hover {
  color: #ffffff;
  text-decoration: none;
}

#nav-xs .nav-xs-bottom .fa-user-circle {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}
/* /nav-xs */

/* END MAIN */

/* START FOOTER */

/* song */
footer #song {
  display: flex;
  align-items: center;
}

footer #song .song-left {
  margin-right: 10px;
}

footer #song .song-left img {
height: 50px;
vertical-align: middle;
}

footer #song .song-right {
  margin-right: 30px;
}

footer #song .song-right h6 {
display: inline-block;
color: #fff;
font-size: 12px;
font-weight: 700;
}

footer #song .song-right a {
  display: block;
color: #b3b3b3;
font-size: 12px;
}

footer #song .song-right a:hover {
color: #fff;
}

footer #song .song-icons i {
  color: #b3b3b3;
  font-size: 16px;
  padding-left: 5px;
}

footer #song .song-icons i:hover {
  color: #fff;
}
/* /song */

/* player */
footer #player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 150px;
}

footer #player .player-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 15px;
}

footer #player .player-top i {
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
}

footer #player .player-top i:last-child {
  margin-right: 0;
}

footer #player .player-top i.fa-play-circle {
  font-size: 24px;
}

footer #player .player-top i.fa-play-circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

footer #player .player-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


footer #player .player-bottom .line-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  margin: 0 25px;
  border-radius: 5px;
  background-color: #7a7a7a;
  cursor: pointer;
}

footer #player .player-bottom .line-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 5px;
  border-radius: 5px;
  background-color: #b3b3b3;
}

footer #player .player-bottom .line-bottom:hover .line-top {
  background-color: #1DB954;
  cursor: pointer;
}

footer #player .player-bottom .line-circle {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

footer #player .player-bottom .line-bottom:hover .line-circle {
  display: block;
}

footer #player .player-bottom span {
  color: #fff;
  font-size: 10px;
}
/* /player */

/* controls */
#controls {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
/* /controls */

/* END FOOTER */


@media screen and (max-width: 767px) {

  #nav-lg {
    display: none
  }

  #nav-xs {
    display: flex;
  }

  #main-content {
    width: calc(100% - 40px);
    background-color: #141922;
    overflow-y: scroll;
  }

}
